body
{
    position: relative;
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #003, #111);

}

section
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding: 10px;
    width: 90%;
    display: block;
    color: #004;
    background: linear-gradient(to bottom, #aef5ff, #d5f4ff);
    border-radius: 5px;
    /*border: solid 2px black;*/
}

article
{
    margin-bottom: 20px;
}

#main-title
{
    height: 180px;
    font-size: 4em;
    color: #fff;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

#profile-picture
{
    /*position: absolute;
    top: 0px;
    left: 0px;*/
}

#what-mean-imaginator
{
    margin-left: 20px;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.center-caption
{
    text-align: center;
}

#welcome
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#what-do-you-do
{
}
#get-in-touch
{
}



#personal-introduction
{
    text-align: center;
}

#profile-picture
{
    /*order: 2;*/
}

#profile-picture img
{
    width: 480px;
    height: 360px;
}

#profile-picture figcaption
{
    font-family: "Book Antiqua", "Times New Roman", serif;
    font-size: 0.7em;
    font-weight: lighter;
    font-style: italic;
}

#what-mean-imaginator
{
    flex-basis: 35%;
    /*order: 1;*/
}

/*Media*/
/* Small screens */
@media all and (max-width: 500px) {
  body {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
